* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./img/bg4.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /*
  HEADER LOGO
  */
  header img {
    width: 100%;
    overflow: visible;
}

/*
MENU NAVBAR
*/
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #23232e;
    height: 8vh;
    padding: 6px;
    overflow: visible;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.center {
    text-align: center;
}
.container {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(235, 241, 151);
}
  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 100%;
    right: 0;
  }
  
  /* 
  CARD 
  */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #80bd73;
  }
  
  .card-1 .card-local {
    color: #000000;
  }
  
  .card-2 .card-footer {
    background-color: #80bd73;
  }
  
  .card-2 .card-local {
    color: #000000;
  }
  
  .card-3 .card-footer {
    background-color: #80bd73;
  }
  
  .card-3 .card-local {
    color: #000000;
  }
  .card-4 .card-footer {
    background-color: #80bd73;
  }

  .card-4 .card-local {
    color: #000000;
  }
  .card-5 .card-footer {
    background-color: #80bd73;
  }

  .card-5 .card-local {
    color: #000000;
  }
  .card-6 .card-footer {
    background-color: #80bd73;
  }

  .card-6 .card-local {
    color: #000000;
  }
  .card-7 .card-footer {
    background-color: #80bd73;
  }

  .card-7 .card-local {
    color: #000000;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
 
  /*
  BLOCO SOBRE
  */
  .div1 {
    height: 600px;
    width: 900px;
    background-color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin: 50px;
    align-items: center;
    border-radius: 20px;
    overflow: visible;
    padding: 32px;
    text-shadow: 0.1em 0.0.1em rgb(168, 168, 168);
  }

  /*
  BLOCO CONTATO
  */
  .div2 {
    height: 600px;
    width: 900px;
    background-color: rgb(143, 143, 143);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin: 50px;
    align-items: center;
    border-radius: 20px;
    overflow: visible;
    padding: 32px;
    color: white;
    text-shadow: 0.1em 0.0.1em rgb(109, 109, 109);
  }

  a.div2 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}

  /* FOOTER */

  .main_footer { 
  	background-color:#b2c4b0; 
  	color:#fff; 
  	font-size:0.875em; 
  }
  .main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
  .container { float:left; width:100%; }
  .colfooter { 
  	width:100%; 
  	height:auto; 
  	float:left; 
  	margin-bottom:2em;
  }
  .colfooter ul        { width:100%; float:left; }
  .colfooter ul li     { padding:0.2em 0em; }
  .colfooter ul li a   { text-decoration:none; color:#505050; font-size:1em; transition:0.2s; }
  .colfooter ul li a i { font-size:0.5em; }
  .colfooter ul li a:hover { color:#528850; transition:0.2s; }
  .titleFooter { 
    border-bottom:1px solid #eaeaea;
    color:#505050;  
    margin-bottom:25px; 
    padding-bottom:0; 
     
  }
  .titleFooter span { 
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.3em; 
    font-weight:900; 
    color:#505050;
    margin-top:0; 
    margin-bottom:0; 
  }
  .titleFooter span::after {
   content:'';
   display:block;
   position:relative;
   top:1px;
   width:100%;
   height:4px;
   border-radius:6px; 
   background-color:#505050;
  }
  .colfooter p  { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:#505050; font-size:1em; height:25px; } 
  .colfooter .redesocial { 
    
    color: #505050;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition:0.2s;
  }
  .colfooter .redesocial:hover { 
    
    color: #528850;
    transition:0.2s;
  }
  /*Formulário*/
  .my-formulario { 
      width:100%;
      float:left;  
  }
  .label{ 
      float:left; 
      width:100%; 
      margin-bottom:5px; 
      position:relative; 
  }
  input[type="text"],textarea{ 
      font-family:'open_sansregular';
      font-size:1em; 
      color: #505050; 
      width: 100%; 
      box-sizing:border-box;
      outline:none; 
  }
  .effect-line:focus { color:#528850; }
  .effect-line {
      border:0; 
      padding:7px 0; 
      border-bottom:1px solid #f0f0f0;
  }
  .effect-line ~ .focus-border{
      position:absolute; 
      bottom:0; 
      left:0; 
      width:0; 
      height:2px; 
      background-color: #528850; 
      transition: 0.4s;}
  .effect-line:focus ~ .focus-border{ width:100%; transition:0.4s; }
  .btn-enviar { 
      
      width: 80px;
      float: left;
      margin-top:5px; 
      background:transparent;
      color: #505050;
      border:1px #505050 solid;
      cursor: pointer; 
      padding: 0em;
      border-radius:3px;  
      font-size: 1.2em;
      font-family:'open_sansregular';
      transition:0.2s; 
  }
  .btn-enviar:hover { background-color:#528850; color:#ffffff; border:1px #33dbdf solid; transition:0.2s; }
  .main_footer_copy { background-color:#f4f4f4; width:100%; float:left; text-align:center; padding:1.5em 0em; }
  .main_footer_copy p { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1em; color:#505050; height:20px; }
  .main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
  .main_footer_copy .by   { font-size:0.96em; }
  .main_footer_copy .by a       { color:#528850; text-decoration:none; transition:0.2s;}
  .main_footer_copy .by a:hover { text-decoration:underline; transition:0.2s;}
  .main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
  /*Responsivo*/
  /*960PX BREAKPOINT*/
  @media (min-width:60em){
  .colfooter  { width:22%; margin-right:4%; margin-bottom:0; }
  .colfooter:nth-of-type(4n+0){ margin-right:0; border-right:0;}
  } 
  
